<a href="https://colab.research.google.com/github/Laci1004/Heller/blob/3rd-and-4th-HW-as-well/class_oop_TL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

class Grade():     #ÉVFOLYAM
    def __init__(self, classes = None):
      self.classes = classes or []

    def average(self):
      sum = 0
      len = 0
      for classes in self.classes:
        classx, classy = classes.classaverage_global()
        sum += classx
        len += classy
      return sum/len


    
      

class Class_():      #OSZTÁLY
    def __init__(self, grade, students = None):
      self.students = students or []
      self.grade = grade
      self.grade.classes.append(self)

    def average(self):
      x = 0
      for student in self.students:
        x += student.average
      return x/len(self.students)

    def classaverage_global(self):   #semmit nem csinál
      x = 0
      y = len(self.students)
      for student in self.students:
        x += student.average
      return x, y


class Subject:      #TANTÁRGY
    #Az iskolában tanítanak Tantárgyakat, amelyeknek van nevük, leírásuk, hozzá vannak rendelve évfolyamok, akiknek ezt oktatni kell.
    def __init__(self, name, description, grade):
        self.name = name
        self.description = description
        self.grade = grade

    def subjaverage(self):        #visszaadja egyes tantárgyak átlagát
      x=0
      for grade in self.grade:
        x += grade.average()
      return x/len(self.grade)





class People:
    def __init__(self, name, year_of_birth, sex):
        self.name = name
        self.year_of_birth = year_of_birth
        self.sex = sex
            
    def age(self):
        return f"{self.name} is {2021 - self.year_of_birth} years old"





class Student(People):
    def __init__(self, name, year_of_birth, sex, grade, average: float, parent_phone):
      super().__init__(name, year_of_birth, sex)
      self.grade = grade
      self.average = average
      self.parent_phone = parent_phone



    
        




class Teacher(People):   #Az iskolában tanítanak Tanárok, akikhez bizonyos tárgyak vannak hozzárendelve. A tanároknak van heti óraszámuk, órabérül, ami alapján a havi fizetésük kiszámolható.
    def __init__(self, name, year_of_birth, sex, subject, weekly_classes, hourly_salary):
      super().__init__(name, year_of_birth, sex)
      self.subject = subject
      self.weekly_classes = weekly_classes
      self.hourly_salary = hourly_salary

    def monthly_salary(self):
      return self.weekly_classes * self.hourly_salary * 4

    def salary_per_month(self):
      return f"{self.name}'s' monthly salary is {self.weekly_classes * self.hourly_salary * 4}."

    def teacher_average(self):
      x = []
      for subject in self.subject:
        x.append(subject.subjaverage())
      return x



class ClassMaster(Teacher):  #A tanárok között vannak Osztályfőnökök, akiknek van osztályuk Az osztályfőnököknél lekérdezhető az is, hogy az osztálya tanulóinak milyen az átlagos átlaga.
    def __init__(self, name, year_of_birth, sex, subject, weekly_classes, hourly_salary, class_):
      super().__init__(name, year_of_birth, sex, subject, weekly_classes, hourly_salary)
      self.class_ = class_

    def monthly_salary(self):
      return self.weekly_classes * self.hourly_salary * 4

    def CM_average(self):
      return self.class_.average()



class Boss(Teacher):     #Igazgató
    bonus = 100000
    def __init__(self, name, year_of_birth, sex, subject, weekly_classes, hourly_salary, grade):
      super().__init__(name, year_of_birth, sex, subject, weekly_classes, hourly_salary)
      self.grade = grade
      self.bonus = 100000

    def monthly_salary(self):
      return f"{self.name}'s' monthly salary is {self.weekly_classes * self.hourly_salary * 4 + self.bonus}."

    def boss_salary(self):
      return self.weekly_classes * self.hourly_salary * 4 + self.bonus



class School:
    def __init__(self, students, teachers, classmaster, boss, name: str, adress: str):
        self.students = students
        self.teachers = teachers
        self.classmaster = classmaster
        self.boss = boss
        self.name = name
        self.adress = adress

    def wage(self):
      sum = 0
      for teacher in self.teachers:
        sum += teacher.monthly_salary()
      for classmaster in self.classmaster:
        sum += classmaster.monthly_salary()
      for boss in self.boss:
        sum += boss.boss_salary()
      return f"{self.name} pays {sum} for  the teachers each month"

    def worst_avg(self):
      avg = min([self.students.average for student in  self.students])
      return avg

In [2]:
#Class_ (osztály) és grade (évfolyam) előkészítése
grade_11 = Grade()
grade_12 = Grade()
Class_11a = Class_(grade_11)
Class_11b = Class_(grade_11)
Class_12a = Class_(grade_12)
Class_12b = Class_(grade_12)

grade_11 = Grade([Class_11a, Class_11b])
grade_12 = Grade([Class_12a, Class_12b])


###Diákok
Joker = Student("Joker", 1999, "male", Class_11a, 4.5, "06207582834")
Pali = Student("Pali", 2010, "male", Class_11a, 3, "06207582834")
Jacs = Student("Jacs", 1980, "male", Class_11a, 5, "06207582834")
Lakatos = Student("Lakatos", 1999, "male", Class_11a, 2, "12312343")
Jani = Student("Jani", 1999, "male", Class_11b, 4, "12345423")
Pisti = Student("Pisti", 1998, "male", Class_11b, 3, "234523456")
Balázs = Student("Balázs", 1997, "male", Class_11b, 3.7, "6453453245")
Pipis = Student("Pipis", 1999, "male", Class_11b, 4.3, "234532565")
Kocó = Student("Kocó", 2000, "male", Class_12a, 4.2, "234563524")
Cucu = Student("Cucu", 2001, "male", Class_12a, 3.9, "23452345")


#Osztályok diákokkal
Class_11a = Class_(grade_11, [Joker, Pali, Jacs, Lakatos])
Class_11b = Class_(grade_11, [Jani, Pisti, Balázs, Pipis])
Class_12a = Class_(grade_12, [Kocó, Cucu])
Class_12b = Class_(grade_12, [])

#Tantárgyak
math = Subject("Math", "Calculating lol", [grade_11])
literature = Subject("Literature", "Literaturing", [grade_11, grade_12])
english = Subject("English", "British", [grade_11])


#Tanárok
T1 = Teacher("Kissné", 1962, "female", [math], 23, 1250)
T2 = Teacher("Madaras", 1981, "male", [literature], 34, 1300)
T3 = Teacher("Miklós", 1972, "Male", [math], 23, 1200)

#Osztályfőnökök

ClassMaster1 = ClassMaster("Ákos", 1970, "male", [english], 25, 1150, Class_11a)
ClassMaster2 = ClassMaster("Mákos", 1980, "male", [english, math], 18, 1100, Class_11b)
ClassMaster3 = ClassMaster("Brigi", 1980, "female", [english, literature], 30, 1200, Class_12a)

#Igazgató

Boss = Boss("Péter", 1972, "male", [english], 20, 1000, [grade_11])

In [3]:
print(Class_11a.average())
print(Class_11b.average())
print(Class_12a.average())
#print(Class_12b.average())

print(grade_11.average())
print(grade_12.average())

3.625
3.75
4.05
3.6875
4.05

In [4]:
print(T1.teacher_average())
print(T2.teacher_average())
print(T3.teacher_average())

[3.6875]
[3.86875]
[3.6875]

In [5]:
print(ClassMaster1.CM_average())
print(ClassMaster2.CM_average())
print(ClassMaster3.CM_average())

3.625
3.75
4.05

In [6]:
School1 = School([Joker, Pali, Jacs, Lakatos, Jani, Pisti, Balázs, Pipis, Kocó, Cucu],
                 [T1, T2, T3],
                 [ClassMaster1, ClassMaster2, ClassMaster3],
                 [Boss],
                 "Berze Nagy János",
                 "Kossuth 12")

In [7]:
School1.wage()

'Berze Nagy János pays 920400 for  the teachers each month'

################################################################################

In [12]:
#Class_ (osztály) és grade (évfolyam) előkészítése
grade_11 = Grade()
grade_12 = Grade()
Class_11a = Class_(grade_11)
Class_11b = Class_(grade_11)
Class_12a = Class_(grade_12)
Class_12b = Class_(grade_12)

grade_11 = Grade([Class_11a, Class_11b])
grade_12 = Grade([Class_12a, Class_12b])


###Diákok
Joker = Student("Joker", 1999, "male", Class_11a, 4.5, "06207582834")
Pali = Student("Pali", 2010, "male", Class_11a, 3, "06207582834")
Jacs = Student("Jacs", 1980, "male", Class_11a, 5, "06207582834")
Lakatos = Student("Lakatos", 1999, "male", Class_11a, 2, "12312343")
Jani = Student("Jani", 1999, "male", Class_11b, 4, "12345423")
Pisti = Student("Pisti", 1998, "male", Class_11b, 3, "234523456")
Balázs = Student("Balázs", 1997, "male", Class_11b, 3.7, "6453453245")
Pipis = Student("Pipis", 1999, "male", Class_11b, 4.3, "234532565")
Kocó = Student("Kocó", 2000, "male", Class_12a, 4.2, "234563524")
Cucu = Student("Cucu", 2001, "male", Class_12a, 3.9, "23452345")

#új diákok
Regős = Student("Regős", 1997, "male", Class_12b, 2.3, "6453453245")
Stádi = Student("Stádi", 1999, "male", Class_12b, 4.1, "234532565")
Laci = Student("Laci", 2000, "male", Class_12b, 2.2, "234563524")
Roli = Student("Roli", 2001, "male", Class_12b, 4.9, "23452345")


#Osztályok diákokkal
Class_11a = Class_(grade_11, [Joker, Pali, Jacs, Lakatos])
Class_11b = Class_(grade_11, [Jani, Pisti, Balázs, Pipis])
Class_12a = Class_(grade_12, [Kocó, Cucu])
Class_12b = Class_(grade_12, [Regős, Stádi, Laci, Roli])

#Tantárgyak
math = Subject("Math", "Calculating lol", [grade_11])
literature = Subject("Literature", "Literaturing", [grade_11, grade_12])
english = Subject("English", "British", [grade_11])


#Tanárok
T1 = Teacher("Kissné", 1962, "female", [math], 23, 1250)
T2 = Teacher("Madaras", 1981, "male", [literature], 34, 1300)
T3 = Teacher("Miklós", 1972, "Male", [math], 23, 1200)

#Új Tanár
T4 = Teacher("András", 1972, "Male", [math], 30, 1400)

#Osztályfőnökök

ClassMaster1 = ClassMaster("Ákos", 1970, "male", [english], 25, 1150, Class_11a)
ClassMaster2 = ClassMaster("Mákos", 1980, "male", [english, math], 18, 1100, Class_11b)
ClassMaster3 = ClassMaster("Brigi", 1980, "female", [english, literature], 30, 1200, Class_12a)

#Igazgató

In [13]:
print(Class_11a.average())
print(Class_11b.average())
print(Class_12a.average())
print(Class_12b.average())

print(grade_11.average())
print(grade_12.average())

3.625
3.75
4.05
3.375
3.6875
3.6

In [14]:
print(T1.teacher_average())
print(T2.teacher_average())
print(T3.teacher_average())
print(T4.teacher_average())

[3.6875]
[3.64375]
[3.6875]
[3.6875]

In [15]:
print(ClassMaster1.CM_average())
print(ClassMaster2.CM_average())
print(ClassMaster3.CM_average())

3.625
3.75
4.05

In [16]:
School1 = School([Joker, Pali, Jacs, Lakatos, Jani, Pisti, Balázs, Pipis, Kocó, Cucu, Regős, Stádi, Laci, Roli],
                 [T1, T2, T3, T4],
                 [ClassMaster1, ClassMaster2, ClassMaster3],
                 [Boss],
                 "Berze Nagy János",
                 "Kossuth 12")

In [18]:
School1.wage()

'Berze Nagy János pays 1088400 for  the teachers each month'