<a href="https://colab.research.google.com/github/Laci1004/Heller/blob/ThirdHw/h%C3%A1zi_3_TLM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
list = []
for i in range(1000, 1, -1):                   #iterates 1000-1
    if (i%2 != 0 and i%3 !=0) and (i%11 == 0): #adds the number to a list if the number is divisible by 11 but isnt by 2 and 3
        list.append(i)   
    if len(list) == 4:                         #stops the code after 4 numbers found
        break

a, b, c, d = map(lambda x: x ** 2, list)       #raises the numbers to ^2 and adds them to a b c d respectively

In [2]:
print(a, b, c, d, list)

958441 874225 833569 755161 [979, 935, 913, 869]